<h1>Node JS Web Server</h1>
<p>Halo, <%= nama%></p>
<h1>Daftar Mahasiswa</h1>
<% if (mahasiswa.length < 1) { %>
<h3>Maha siswa kosong</h3>
<% } else { mahasiswa.forEach(mhs => { %>
<ul>
  <li>Nama: <%= mhs.nama %></li>
  <li>Email: <%= mhs.email %></li>
</ul>
<% })} %>
