<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4">Radiant Fadilah</h1>
      <p>Mahasiswa | Editor</p>
      <img
        src="img/contoh.jpg"
        alt="Radiant"
        class="image-thumbnail rounded-circle"
        width="200"
      />
    </div>
  </div>
</div>
